body {
    background-color: #EBECF0; /* Колір фону */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Заповнити весь екран */
}

.container {
    position: relative;
    width: 390px; /* Ширина контейнера */
    height: 844px; /* Висота контейнера */
    margin: auto;
}

.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.level, .balance, .timer {
    font-size: 40pt; /* Розмір шрифту для LVL і балансу */
    color: #C7C7C7; /* Колір для LVL і балансу */
    margin: 10px 0;
}

.timer {
    font-size: 100pt; /* Розмір шрифту для таймера */
    color: #ADB4CC; /* Колір таймера */
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn {
    cursor: pointer;
    margin: 0 5px; /* Відстань між кнопками */
}

#boostButton {
    display: block;
    margin: 20px auto; /* Центрування кнопки Buy */
    width: 200px;
    height: 60px;
}
